<div class="my-auto rounded-2 p-2 border border-2  h-100 border border-2 border-dark" style='background-color:#d7ded9; width: 40%'>
    <h2 class="fs-6 m-0 fw-bold">Budget Checklist</h2>
    <div class="container">
        <div class="row" id="Checklist">
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Subcontracting', 'General painting for the project')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="paint">Paint</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Material', 'Concrete')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="concrete">Concrete</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Miscellanous', 'Welding Ext.')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="welding">Welding Ext.</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Subcontracting', 'Drawings')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="drawings">Drawings</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Subcontracting', 'Equipment')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="windscreen">Equipment</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Subcontracting', 'Permits')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="windscreen">Permits</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Subcontracting', 'Transportation')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="windscreen">Transportation</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Subcontracting', 'Hardware')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="windscreen">Hardware</label>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <button class="btn btn-success p-0 fs-7 btn-sm" onclick="addRowCheckList('Material', 'Margin of Error')">
                    <i class="bi bi-plus"></i>
                </button>
                <label for="windscreen">Margin of Error</label>
            </div>
        </div>
    </div>
    
</div>
