{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DC FENCE | Backoffice{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'img/LogoSmLarge.png' %}?v=1">
    <link rel="apple-touch-icon" href="{% static 'img/LogoSmLarge.png' %}?v=1">
    {% block extra_head %}
    {% endblock %}
  </head>
  
<div id="loadingOverlay"  class="containerLoading d-none" >
    <img src="{% static 'img/loading.gif' %}" alt="Cargando" class="img-fluid rounded-1" style="width: 100px; height: auto;">
</div>
<body class="bg-white">
    <div id="alert-container"></div>
    <script src="{% static 'js/baseScripts.js' %}"></script>
    <div class="container-fluid ">
    <div class="row">
    <div class='position-fixed start-0 top-0 w-25 vh-100 z-2' id="notifications" style="height: 100vh; background-color:rgba(155, 155, 155, 0.89); backdrop-filter: blur(5px); margin-left: 70px; transform: translateX(-100%);">
        <h6 class="text-center fs-5 fw-bold mt-2">Notifications <span class="spinner-border spinner-border-sm m-auto text-light" id="spinner-notifications""></span></h6>
    </div>
    <div class="d-flex flex-column justify-content-between col-sm-auto bg-light sticky-top border-end p-0 z-3"   style="height: 100vh;">
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap text-center align-items-center p-0">
                <li>
                    <a href="/" class="nav-link ">
                        <img src="{% static 'img/LogoSmLarge.png' %}?v=1" alt="Logo" class="img-fluid rounded-1" style="width: 32px; height: auto;">
                    </a>
                </li>
                <li>
                    <button class="nav-link " aria-current="page" onclick="notificationsToggle()">
                    <div class="position-relative">
                        <i class=" btn btn-pri bi bi-bell-fill fs-6 text-light bg-secondary"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.8rem; transform: translate(-50%, -50%);" id="notification-count">0</span>
                    </div>
                    </button>
                </li>
            </ul>
            <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap text-center align-items-center mt-auto mb-auto p-0">
                <li class="nav-item">
                    <a href="/home" class="nav-link central {% if view == 'home'%} active-nav text-primary{% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Home">
                        <i class="bi bi-house-door-fill fs-4 text-secondary"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/projects" class="nav-link central {% if view == 'projects'%} active-nav text-primary{% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Projects">
                        <i class="bi bi-bounding-box fs-4 text-secondary"></i>
                    </a>
                </li>
                <li>
                    <a href="/metrics" class="nav-link central {% if view == 'metrics'%} active-nav {% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Metrics">
                        <i class="bi-speedometer2 fs-4 text-secondary"></i>
                    </a>
                </li>
                <li>
                    <a href="/customers" class="nav-link central {% if view == 'costumer'%} active-nav {% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Customers">
                        <i class="bi bi-person-lines-fill fs-4 text-secondary"></i>
                    </a>
                </li>
                {% comment %} <li>
                    <a href="/" class="nav-link central {% if view == 'documents'%} active-nav {% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Documents">
                        <i class="bi bi-newspaper fs-4 text-secondary"></i>
                    </a>
                </li> 
                <li>
                  <a href="/" class="nav-link central {% if view == 'billings'%} active-nav {% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Billings">
                      <i class="bi bi-clipboard2-data-fill fs-4 text-secondary"></i>
                  </a>
              </li>
              {% endcomment %}
              <li>
                <a href="/accounting" class="nav-link central {% if view == 'accounting'%} active-nav {% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Accounting">
                    <div class="position-relative">
                        <i class="bi bi-calculator-fill fs-4 text-secondary"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.6rem; transform: translate(-50%, -50%);">NEW</span>
                    </div>
                </a>
            </li>
              <li>
                <a href="/production" class="nav-link central {% if view == 'production'%} active-nav {% endif%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Production">
                    <i class="bi bi-wrench-adjustable-circle-fill fs-4 text-secondary"></i>
                </a>
            </li>
            </ul>
            <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap text-center align-items-center p-0">
                <li>
                    <a href="/settings" class="nav-link settings" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Settings">
                        <i class="fs-4 bi bi-gear-fill text-secondary px-2 py-1 rounded-5"></i>
                    </a>
                </li>
                <li>
                    <a href="/logout" class="nav-link">
                        <i class="fs-4 bi bi-box-arrow-right bg-danger text-white px-2 py-1 rounded-5"></i>
                    </a>
                </li>
            </ul>
    </div>
    <div class="col-sm p-0 min-vh-100">
        
    {% block content %}

    {% endblock %}
    </div>
    </div>
    </div>
</body>
{% include "bubbleIAChat.html" %} 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function notificationsToggle() {
        const notifications = document.getElementById('notifications');
        if (notifications.style.transform === 'translateX(-100%)') {
            notifications.style.transform = 'translateX(0%)';
        } else {
            notifications.style.transform = 'translateX(-100%)';
        }
        notifications.style.transition = 'transform 0.3s ease-in-out';
    }

    
    
    document.addEventListener('DOMContentLoaded', function () {
        ajaxGetRequest(
            '/get_notifications/',
            function successCallback(data) {
                const notificationContainer = document.getElementById('notifications');
                if (!notificationContainer) {
                    console.error('Notification container not found!');
                    return;
                }
                const count = data.notifications.length;
                document.getElementById('notification-count').textContent = count;

                for (const notification of data.notifications) {
                    // Crear el contenedor de notificación
                    const notificationElement = document.createElement('div');
                    notificationElement.classList.add(
                        'w-full',
                        'm-2',
                        'h-auto',
                        'p-2',
                        'bg-light',
                        'rounded-2',
                        'border',
                        'border-2',
                        `border-${notification.type}`,
                        'position-relative',
                        'd-flex',
                        'flex-row',
                        'justify-content-between',
                        'gap-2'

                    );
                    notificationElement.innerHTML = `<span><i class="bi bi-exclamation-circle-fill fs-4 text-${notification.type}"></i></span>
                        <p class="m-0">${notification.message}</p>
                        <a href="${notification.link}">
                            <button class="bg-${notification.type} text-light rounded-1 border-0 w-auto mt-2 position-absolute bottom-0 end-0">
                                View
                            </button>
                        </a>
                    `;
                    notificationContainer.appendChild(notificationElement);
                }
                document.getElementById('spinner-notifications').style.display = 'none';
            },
            function errorCallback(error) {
                console.error('Failed to fetch notifications:', error);
                const notificationContainer = document.getElementById('notifications');
                if (notificationContainer) {
                    notificationContainer.innerHTML = `
                        <div class="w-full m-2 h-auto p-2 bg-danger text-light rounded-2">
                            <p class="m-0">Failed to load notifications. Please try again later.</p>
                        </div>
                    `;
                }
            }
        );
    });    
</script>
</html>
