{% load static%}
<div class="chat-box relative" id="chatBox">
    <div class="chat-box-container z-10">
        <input type="hidden" id="csrf-token" data-csrf="{{ csrf_token }}" />
        <div class="chat-box-header d-flex flex-row justify-content-between">
            <span class="chat-box-header-text d-flex flex-row align-items-center">
                <span alt="Fenci Bot" class="chat-bubble-icon me-2"></span>
                <span class="chat-box-header-text-icon"> <strong class="border-bottom border-white">Fenci AI Chat <span class="active-chat" style="background-color: #46fca7; box-shadow: 0 0 10px 0 rgba(70, 204, 166, 0.829); width: 10px;height: 10px;border-radius: 50%;display: inline-block;"></span> </strong> <br> <span style="font-size:.7rem;">Data Assistant</span></span>
            </span>
            <div class="d-flex align-items-center">
                <select id="promptType" class="form-select me-2 bg-primary text-primary fw-bold border-0 bg-white bg-opacity-75 bg-blur" style="font-size:.6rem; width: auto;">
                    <option value="asistencia">Asistencia</option>
                    <option value="consulta">Consulta</option>
                </select>
                
                <!-- Selector de opciones de consulta (se oculta inicialmente) -->
                <select id="consultaOptions" class="form-select me-2 text-success fw-bold border-0 bg-white bg-opacity-75 bg-blur" style="font-size:.6rem; width: auto; display:none;">
                    <option value="budgetestimate">Presupuestos</option>
                    <option value="projects">Clientes</option>
                    <option value="proposal">Proposal</option>
                    <option value="invoice">Facturas</option>
                    <option value="projects">Proyectos</option>
                </select>
            </div>
        </div>
        <div class="chat-box-body" id="chatBody">
            <div class="bubble-ia message-bubble">
                Hola, ¿en qué puedo ayudarte hoy?
            </div>
        </div>
        <div class="chat-box-footer d-flex flex-column">
            <textarea class="form-control position-relative" style="font-size:.8rem; resize: none;" id="chatInput" rows="3" placeholder="Escribe tu mensaje..."></textarea>
            <button id="sendMessage" class="btn btn-primary m-3 position-absolute bottom-0 end-0">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <button class="chat-bubble z-3" id="chatBubble" style="overflow: hidden;">
        <span alt="Fenci Bot" class="chat-bubble-icon" id="chatBubbleIcon">
        </span>
        <span class="py-2" id="chatBubbleText" class="chat-bubble-text"> Hablar a Fenci</span>
    </button>
</div>


<script>
    document.getElementById('promptType').addEventListener('change', function () {
        const consultaOptions = document.getElementById('consultaOptions');
        if (this.value === 'consulta') {
            consultaOptions.style.display = 'inline-block'; // Mostrar las opciones de consulta
        } else {
            consultaOptions.style.display = 'none'; // Ocultar las opciones de consulta
        }
    });
    
    const chatBubble = document.getElementById("chatBubble");
    const chatBox = document.getElementById("chatBox");
    const chatInput = document.getElementById("chatInput");
    const chatBody = document.getElementById("chatBody");
    const sendMessage = document.getElementById("sendMessage");

    let messageHistory = [];

    chatBubble.addEventListener('click', () => {
        if (chatBox.style.transform === 'translateX(0%)') {
            chatBox.style.transform = 'translateX(100%)';
            document.getElementById("chatBubbleText").innerHTML = "Hablar a Fenci";
            document.getElementById("chatBubbleIcon").style.filter = "brightness(1)";
        } else {
            chatBox.style.transform = 'translateX(0%)';
            document.getElementById("chatBubbleText").innerHTML = "Cerrar Chat";
            document.getElementById("chatBubbleIcon").style.filter = "brightness(0.5)";
        }
    });
    let lastSender = null;
    
    function saveMessageToHistory(sender, message) {
        messageHistory.push({ sender, message });
        if (messageHistory.length > 5) {
        messageHistory.shift();
        }
        console.log("Últimos 5 mensajes:", messageHistory);
    }
    function addMessage(sender, message) {
        saveMessageToHistory(sender, message);
        if (sender !== lastSender) {
            const bubbleElement = document.createElement("div");
            bubbleElement.classList.add("message-bubble");
            bubbleElement.classList.add("my-2");
            bubbleElement.classList.add(
            sender === "IA" ? "bubble-ia" : "bubble-user"
            );

            const messageContainer = document.createElement("div");
            messageContainer.classList.add("message-container");
            bubbleElement.appendChild(messageContainer);
            chatBody.appendChild(bubbleElement);

            lastSender = sender;
        }
        // Buscar la última burbuja añadida y añadir el mensaje
        const lastBubble = chatBody.lastElementChild.querySelector(".message-container");
        const messageElement = document.createElement("div");
        messageElement.classList.add("message");
        if (typeof message === "string"){
            messageElement.textContent = message;
            lastBubble.appendChild(messageElement);}
            else {
                const messageData = message;
                if (messageData.type === "analisis" && messageData.table && messageData.href) {
                    const { resumen, key_data, observations } = messageData;
            
                    // Crear el mensaje con los datos del análisis
                    const fullMessageElement = document.createElement("div");
            
                    // Resumen
                    const summaryTitle = document.createElement("h6");
                    summaryTitle.textContent = "Resumen:";
                    fullMessageElement.appendChild(summaryTitle);
            
                    const summaryMessage = document.createElement("p");
                    summaryMessage.textContent = resumen;
                    fullMessageElement.appendChild(summaryMessage);
            
                    // Key Data
                    const keyDataTitle = document.createElement("h6");
                    keyDataTitle.textContent = "Detalles del Proyecto:";
                    fullMessageElement.appendChild(keyDataTitle);
            
                    key_data.forEach(item => {
                        const keyDataItem = document.createElement("p");
                        keyDataItem.innerHTML = `<strong>${item.tittle}:</strong> ${item.review}`;
                        fullMessageElement.appendChild(keyDataItem);
                    });
            
                    // Observaciones
                    const observationsTitle = document.createElement("h6");
                    observationsTitle.textContent = "Observaciones:";
                    fullMessageElement.appendChild(observationsTitle);
            
                    observations.forEach(obs => {
                        const observationItem = document.createElement("p");
                        observationItem.textContent = obs;
                        fullMessageElement.appendChild(observationItem);
                    });

                    const projectLink = document.createElement("a");
                    projectLink.href = '/'+ messageData.href;
                    projectLink.textContent = `Ver Proyecto`;
                    projectLink.target = "_blank"; 
                    fullMessageElement.appendChild(projectLink);

                    
            
                    // Agregar el mensaje estructurado a la última burbuja
                    lastBubble.appendChild(fullMessageElement);
                }
            }
            
        chatBody.scrollTop = chatBody.scrollHeight;
    }

    sendMessage.addEventListener("click", async () => {
    const promptType = document.getElementById('promptType').value;
    const message = chatInput.value.trim();
    let tabla = null;
    if (promptType === 'consulta') {
        tabla = document.getElementById('consultaOptions').value;
    }
    const csrftoken = document.getElementById("csrf-token").dataset.csrf;
    if (message) {
        addMessage("Usuario", message);
        chatInput.value = "";
        const thinkingMessageElement = document.createElement("div");
        thinkingMessageElement.classList.add("message-bubble", "my-2", "bubble-ia");
        const thinkingContainer = document.createElement("div");
        thinkingContainer.classList.add("message-container");
        thinkingMessageElement.appendChild(thinkingContainer);
        chatBody.appendChild(thinkingMessageElement);
        const thinkingText = document.createElement("p");
        thinkingText.textContent = "Pensando...";
        thinkingContainer.appendChild(thinkingText);
        chatBody.scrollTop = chatBody.scrollHeight;
        try {
        const response = await fetch("/api/chat/", {
            method: "POST",
            headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
            message: message,
            messageHistory: messageHistory,
            type: promptType,
            table: tabla
            }),
        });

        if (response.ok) {
            thinkingMessageElement.remove();
            const data = await response.json();
            console.log(data.response);
            if (Array.isArray(data.response)) {
            data.response.forEach((item) => {
                addMessage("IA", item);
            });
            } else {
            addMessage("IA", data.response);
            }
        } else {
            const errorData = await response.json();
            thinkingMessageElement.remove();
            addMessage("IA", `Error: ${errorData.error}`);
        }
        } catch (error) {
        thinkingMessageElement.remove();
        addMessage("IA", "Error al conectarse con el servidor.");
        }
    }
    });
</script>

