{% extends "base.html"%} 
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{% endblock %}
{% block content%}
<div class="container d-flex flex-column justify-content-center p-4">
  {% include 'components/customers_table.html' %}
</div>
{% include 'components/form_new_customer.html' %}

{% if warning %}
<div class="alert alert-danger alert-dismissible fade show position-fixed bottom-0 end-0 m-3" role="alert">
    {{ warning }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<script src="{% static 'js/search_viewScript.js' %}"></script>
<script src="{% static 'js/components/customers_tables.js' %}"></script>
<script>

  const phoneInputField = document.querySelector("#id_phone");
  const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });
</script>
{% endblock %}
