{% extends "base.html"%}
{% load static %}
{% load custom_filters %}
{% block content%}
{% include "loading_component.html" %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock %}
<div class="container d-flex flex-column justify-content-center p-4 gap-4" data-view="my_space">
    <div class="d-flex flex-row  flex-nowrap gap-2 align-items-center justify-content-between" id="user-info">
        {% include 'components/user_metrics.html' %}
    </div>
    {% include 'components/proposal_table.html' with focus=focus %}
    {% include 'components/project_table.html' %}
</div>
{% include 'components/open_modal_quick_info.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/components/quick_projectInfo.js' %}"></script> 
<script src="{% static 'js/components/pdf_proposal.js' %}"></script>
<script src="{% static 'js/components/projects_tables.js' %}"></script>
<script>

    function loadProjectsStatusChart(dataChart) {
        const projectsStatus = dataChart.projects_status;
        const proposalsStatus = dataChart.proposals_status;

        const commonOptions = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                    labels: {
                        usePointStyle: true,
                        pointStyle: 'circle',
                        boxWidth: 10,
                        padding: 10
                    }
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            const value = context.raw;
                            const total = context.dataset.data.reduce((a, b) => a + b, 0);
                            const percentage = ((value / total) * 100).toFixed(2);
                            return `${context.label}: ${value} (${percentage}%)`;
                        }
                    }
                },
                datalabels: {
                    color: '#000',
                    font: { weight: 'bold', size: 12 },
                    formatter: (value) => value > 0 ? value : null
                }
            }
        };

        new Chart(document.getElementById('projectsStatusChart'), {
            type: 'doughnut',
            data: {
                labels: Object.keys(projectsStatus),
                datasets: [{
                    label: 'Proyectos',
                    data: Object.values(projectsStatus),
                    backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)', 'rgba(153, 102, 255, 0.8)', 'rgba(255, 159, 64, 0.8)'],
                    borderColor: ['rgba(255, 255, 255)'],
                    borderWidth: 1
                }]
            },
            options: commonOptions,
            plugins: [ChartDataLabels]
        });

        new Chart(document.getElementById('proposalsStatusChart'), {
            type: 'doughnut',
            data: {
                labels: Object.keys(proposalsStatus),
                datasets: [{
                    label: 'Propuestas',
                    data: Object.values(proposalsStatus),
                    backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)', 'rgba(153, 102, 255, 0.8)'],
                    borderColor: ['rgba(255, 255, 255)'],
                    borderWidth: 1
                }]
            },
            options: commonOptions,
            plugins: [ChartDataLabels]
        });
    }

    function changeInnerHTML(element, proposal_id, status) {
        element.innerHTML = `
            <span class="d-flex flex-row status-empty status_${status}  status_proposal_${proposal_id} mr-3 align-items-center justifify-content-center" id="select-status" style="width: fit-content;">
                <select class="w-auto mx-1 border-0" name="status" onchange="changeStatusProposal(event, ${proposal_id})" title="Change Status">
                    <option value="new" ${status === 'new' ? 'selected' : ''}>New</option>
                    <option value="sent" ${status === 'sent' ? 'selected' : ''}>Sent</option>
                    <option value="pending" ${status === 'pending' ? 'selected' : ''}>Pending</option>
                    <option value="rejected" ${status === 'rejected' ? 'selected' : ''}>Rejected</option>
                    <option value="approved" ${status === 'approved' ? 'selected' : ''}>Approved</option>
                </select>
            </span>`;
    }

    function changeStatusProposal(event, proposal_id) {
        event.preventDefault();
        parentContainer = event.currentTarget.parentElement.parentElement;
        parentSelect = event.currentTarget.parentElement;
        parentSelect.innerHTML = parentSelect.innerHTML + '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
        const newStatus = event.target.value;
        data = {status: newStatus}
        ajaxPostRequest(`/update_proposal_status/${proposal_id}/`,  data, '{{ csrf_token }}', function(data) {
            if (data.status === 'success') {
                selectAllStatusByProposal = document.querySelectorAll('.status_proposal_' + proposal_id);
                for (let select of selectAllStatusByProposal) {
                    changeInnerHTML(select.parentElement, proposal_id,  newStatus);
                }
                showAlert('Status updated successfully.', 'success');
                parentSelect.querySelector('.spinner-border').remove();
            } else {
                showAlert('Error updating status.', 'danger');
                parentSelect.querySelector('.spinner-border').remove();
            }
        });
    }

    function extendDueDate(event,proposal_id, quick_info = false) {
        event.preventDefault();
        button = event.currentTarget;
        button.disabled = true;
        button.innerHTML = '<span class="spinner-border border-primary spinner-border-sm" role="status" aria-hidden="true"></span>';
        ajaxGetRequest(`/extend_due_date/${proposal_id}/`, function(data) {
            if (data.status === 'success') {
                showAlert('Due date extended successfully.', 'success');
                loadProposals(1);
                button.disabled = false;
                button.innerHTML = '<i class="bi bi-stopwatch"></i>';
            } else {
                showAlert('Error extending due date.', 'danger');
                button.disabled = false;
                button.innerHTML = '<i class="bi bi-stopwatch"></i>';
            }
            if (quick_info) {
                largeModal = bootstrap.Modal.getInstance(document.getElementById('largeModal'));
                largeModal.hide();
            }

        });
    }

    document.getElementById('largeModal').addEventListener('hidden.bs.modal', function () {
        this.setAttribute('inert', '');
    });

    async function loadProposals(page, filter = '') {
        document.getElementById('resultsTableBody').innerHTML = emptyTable;
        document.getElementById('proposals-count').innerHTML = '0';
        document.getElementById('pagination').innerHTML = '';
        const onlyOverdue = document.getElementById('proposals_overdue').checked;
        const onlySoonDue = document.getElementById('proposal_soon_due').checked;
        if (filter) {
            filter = filter + '&';
        }
        filter = filter + 'onlyOverdue=' + onlyOverdue + '&onlySoonDue=' + onlySoonDue;
        const data = await fetchData(`/get_proposals/${page}/?${filter}`);
        if (data) {
            // Actualiza el contenido de la tabla
            document.getElementById('resultsTableBody').innerHTML = data.html;
            document.getElementById('proposals-count').innerHTML = data.total_proposals;
            // Actualiza los controles de paginación
            updatePaginationControls(page, data.has_more, data.total_pages);
            initializeTooltips() 
        }
    }

    
    document.addEventListener('DOMContentLoaded', function () {
        let emptyTable = '';
        for (let i = 0; i < 10; i++) {
            emptyTable += '<tr><td class="text-center placeholder-glow" colspan="8"><span class="placeholder col-12 rounded-4"></span></td></tr>';
        }
        async function loadUserInfo() {
            const data = await fetchData('/get_user_info');
            if (data) {
                document.getElementById('user-info').innerHTML = data.html;
                loadProjectsStatusChart(data.dataChart);
                document.getElementById('proposals-overdue').innerHTML = data.proposals_overdue;
                document.getElementById('projects-overbudget').innerHTML = data.projects_overbudget;
                if (data.projects_overbudget > 0) {
                    document.getElementById('projects-overbudget').classList.add('text-danger');
                }
                if (data.proposals_overdue > 0) {
                    document.getElementById('proposals-overdue').classList.add('text-danger');
                }
            }
        }

    

        document.getElementById('pagination').addEventListener('click', async function (event) {
            const target = event.target.closest('a.page-link');
            if (!target) return;

            event.preventDefault();
            const page = target.getAttribute('data-page');
            if (page) {
                await loadProposals(page);
            }
        });

        function updatePaginationControls(currentPage, hasMore, totalPages, type = 'proposals') {
            const pagination = document.getElementById('pagination');
            if (type == 'proposals') {
                pagination.innerHTML = `
                <li class="page-item ${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link" href="#" data-page="${currentPage - 1}"><i class="bi bi-chevron-left"></i></a>
                </li>
                <li class="page-item mx-2"><span>Page ${currentPage} of ${totalPages}</span></li>
                <li class="page-item ${!hasMore ? 'disabled' : ''}">
                    <a class="page-link" href="#" data-page="${+currentPage + 1}"><i class="bi bi-chevron-right"></i></a>
                </li>`;
            } else {
                const pagination = document.getElementById('paginationProjects');
                pagination.innerHTML = `
                <li class="page-item ${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link" href="#" data-page="${currentPage - 1}"><i class="bi bi-chevron-left"></i></a>
                </li>
                <li class="page-item mx-2"><span>Page ${currentPage} of ${totalPages}</span></li>
                <li class="page-item ${!hasMore ? 'disabled' : ''}">
                    <a class="page-link" href="#" data-page="${+currentPage + 1}"><i class="bi bi-chevron-right"></i></a>
                </li>`;
            }              
        }

        document.getElementById('applyFilters').addEventListener('click', async function () {
            let filters = [
                'searchInputProjectName',
                'searchInputStatus',
                'searchInputDueDate',
                'quoteYear',
                'quoteMonth',
                'quoteDay',
                'quoteProjectId'
            ].map(id => `${id}=${document.getElementById(id).value}`).join('&');

            await loadProposals(1, filters);
        });

        document.getElementById('clearFilters').addEventListener('click', async function () {
            ['searchInputProjectName', 'searchInputStatus', 'searchInputDueDate', 'quoteYear', 'quoteMonth', 'quoteDay', 'quoteProjectId']
                .forEach(id => document.getElementById(id).value = '');

            await loadProposals(1);
        });

        document.getElementById('proposal_soon_due').addEventListener('click', async function () {
            await loadProposals(1);
        });
        document.getElementById('proposals_overdue').addEventListener('click', async function () {
            await loadProposals(1);
        });

        loadProposals(1);
        loadUserInfo();
    });


</script>
{% endblock %}