{% extends "base.html"%} 
{% load static %}
{% load custom_filters %}
{% block content%}
{% include "loading_component.html" %} 
<div class="container d-flex flex-column justify-content-center p-4 gap-4">
 {% include 'components/user_metrics.html' %}
 {% include 'components/proposal_table.html' %}
</div>
<div class="offcanvas-form ">
<div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () { 
      let emptyTable = '';
      for (let i = 0; i < 10; i++) {
        emptyTable += '<tr><td class="text-center placeholder-glow" colspan="8"><span class="placeholder col-12 rounded-4"></span></td></tr>';
      }
      function loadProposals(page, filter='NaN') {
        document.getElementById('resultsTableBody').innerHTML = emptyTable;
        document.getElementById('proposals-count').innerHTML = '0';
        document.getElementById('pagination').innerHTML = '';
          ajaxGetRequest('/get_proposals/' + page + '/?' + filter, function (data) {
              // Actualiza el contenido de la tabla
              document.getElementById('resultsTableBody').innerHTML = data.html;
              document.getElementById('proposals-count').innerHTML = data.total_proposals;
              // Actualiza los controles de paginación
              updatePaginationControls(page, data.has_more, data.total_pages);
          });
      }

      // Maneja el clic en los botones de paginación
      document.getElementById('pagination').addEventListener('click', function (event) {
          const target = event.target.closest('a.page-link');
          if (!target) return;

          event.preventDefault();
          const page = target.getAttribute('data-page'); // Obtén el número de página del atributo data
          if (page) {
              loadProposals(page);
          }
      });

      // Función para actualizar controles de paginación
      function updatePaginationControls(currentPage, hasMore, totalPages) {
          const pagination = document.getElementById('pagination');
          pagination.innerHTML = `
              <li class="page-item ${currentPage == 1 ? 'disabled' : ''}">
                  <a class="page-link" href="#" data-page="${currentPage - 1}">
                      <i class="bi bi-chevron-left"></i>
                  </a>
              </li>
              <li class="page-item mx-2"><span>Page ${currentPage} of ${totalPages}</span></li>
              <li class="page-item ${!hasMore ? 'disabled' : ''}">
                  <a class="page-link" href="#" data-page="${+currentPage + 1}">
                      <i class="bi bi-chevron-right"></i>
                  </a>
              </li>
          `;
      }
      // Carga inicial
      loadProposals(1); 

      document.getElementById('applyFilters').addEventListener('click', function () {
        let projectName = document.getElementById('searchInputProjectName').value;
        let status = document.getElementById('searchInputStatus').value;
        let salesAdvisor = document.getElementById('searchInputSalesAdvisor').value;
        let dueDate = document.getElementById('searchInputDueDate').value;
        let quoteYear = document.getElementById('quoteYear').value; 
        let quoteMonth = document.getElementById('quoteMonth').value;
        let quoteDay = document.getElementById('quoteDay').value;
        let quoteProjectId = document.getElementById('quoteProjectId').value;
        var filter = {projectName: projectName, status: status, salesAdvisor: salesAdvisor, dueDate: dueDate, quoteYear: quoteYear, quoteMonth: quoteMonth, quoteDay: quoteDay, quoteProjectId: quoteProjectId}; 
        let filterString = Object.entries(filter)
        .map(([key, value]) => `${key}=${value}`)
        .join('&');
        loadProposals(1, filterString);
      });

      document.getElementById('clearFilters').addEventListener('click', function () {
          // Campos a limpiar
          const filters = [
              'searchInputProjectName',
              'searchInputStatus',
              'searchInputSalesAdvisor',
              'searchInputDueDate',
              'quoteYear',
              'quoteMonth',
              'quoteDay',
              'quoteProjectId'
          ];
          let emptyFilters = true;
          // Limpiar todos los campos
          filters.forEach(function (id) {
              const element = document.getElementById(id);
              if (element && element.value) {
                  emptyFilters = false;
                  element.value = '';  // Limpiar el campo
              }
          });
          if (!emptyFilters) {
            loadProposals(1);
          }
      });
  });
</script>
{% endblock %}
