{% extends "base.html"%} 
{% load static %}
{% load custom_filters %}
{% block content%}
{% include "loading_component.html" %} 
<div class="container d-flex flex-column justify-content-center p-4">
  {% include 'components/project_table.html' with projectindex=True %}


  {% if warning %}
  <div class="alert alert-danger alert-dismissible fade show position-fixed bottom-0 end-0 m-3" role="alert">
      {{ warning }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
</div>
{% include 'components/modal_form_project.html' %}
{% include 'components/open_modal_quick_info.html' %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/projects_Scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="{% static 'js/components/projects_tables.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#id_customer').select2({
      placeholder: 'Select a customer',
      allowClear: true
    });
  });
  
  function changeStatusProposal(event, proposal_id) {
    event.preventDefault();
    parentContainer = event.currentTarget.parentElement.parentElement;
    parentSelect = event.currentTarget.parentElement;
    parentSelect.innerHTML = parentSelect.innerHTML + '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
    const newStatus = event.target.value;
    data = {status: newStatus}
    ajaxPostRequest(`/update_proposal_status/${proposal_id}/`,  data, '{{ csrf_token }}', function(data) {
        if (data.status === 'success') {
            selectAllStatusByProposal = document.querySelectorAll('.status_proposal_' + proposal_id);
            for (let select of selectAllStatusByProposal) {
                changeInnerHTML(select.parentElement, proposal_id,  newStatus);
            }
            showAlert('Status updated successfully.', 'success');
            parentSelect.querySelector('.spinner-border').remove();
        } else {
            showAlert('Error updating status.', 'danger');
            parentSelect.querySelector('.spinner-border').remove();
        }
    });
  }

  document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault();
    const loadingOverlay = document.getElementById('loadingOverlay');
    const spinner = document.getElementById('spinner');
    spinner.style.display = 'inline-block';
    this.disabled = true;
    document.getElementById('submit-btn').disabled = true;
    loadingOverlay.classList.remove('d-none');
    const formData = new FormData(this);
    console.log([...formData.entries()]);
    const allInputs = this.querySelectorAll('input:disabled, select:disabled, textarea:disabled');
    allInputs.forEach(input => input.disabled = false);
    ajaxPostRequest('/projects/create/', formData, '{{ csrf_token }}', function(data) {
      if (data.status === 'success') {
        showAlert(data.message, 'success');
        window.open(data.redirect, '_blank');
      }else {
        showAlert(data.message);
      }
      loadingOverlay.classList.add('d-none');
      allInputs.forEach(input => input.disabled = true);
      spinner.style.display = 'none';
      this.disabled = false;
      document.getElementById('submit-btn').disabled = false;
      loadProjects(1);
      const customerForm = document.getElementById("customer-form");
      customerForm.classList.toggle("visible")
    });
});
</script>
{% endblock %}
