{% extends "base.html" %} {% load static %} {% block content %}
<div class="d-flex justify-content-center p-4">
  <div class="row">
    <!-- Customer Card -->
    <div class="col-md-3">
      <div class="card shadow-sm rounded-4">
        <div class="card-header d-flex align-items-center rounded-4">
          <span
            class="customer-avatar me-3 text-light"
            style="font-size: 2rem; font-weight: bold"
          >
            {{ initial }}
          </span>
          <div class="d-flex flex-column justify-content-center">
            <h1 class="card-header fs-5 mb-0 p-0 border-0">
              {{ client.first_name }} {{ client.last_name }}
            </h1>
            <p class="fs-6 text-muted mb-0">
              Since {{ client.date_created|date:"Y" }}
            </p>
          </div>
        </div>
        <div class="card-body">
          <p class="d-flex align-items-center mb-2">
            <i class="bi bi-envelope me-2"></i> {{ client.email }}
          </p>
          <p class="d-flex align-items-center mb-2">
            <i class="bi bi-telephone me-2"></i> {{ client.phone }}
          </p>
          <p class="text-muted mb-1">Tags:</p>
          <div class="d-flex align-items-center">
            <span class="status-empty me-1">new</span>
            <span class="status-empty">first project</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabs for Client Information -->
    <div class="col-md-9 ">
      <div class="row">
        <!-- Información General -->
        <div class="col-md-12 ">
          <div class="container border m-0 px-0 rounded-4 overflow-hidden mb-4 shadow-sm ">
            <div
              class="card-header d-flex justify-content-between  p-3 border-bottom bg-gray"
            >
              <h1 class="card-header fs-4 rounded-4">Information</h1>
              <div>
                <a href="{% url 'edit_customer' client.id %}">
                <button class="btn bg-primary">
                <i class="bi bi bi-pencil-fill text-light fs-6"></i>
              </button>
            </a>
              <a href="{% url 'delete_customer' client.id %}">
                <button class="btn bg-danger">
                  <i class="bi bi bi-trash3-fill text-light fs-6"></i>
                </button>
              </a>
            </div>
            </div>
            <div class="card-body mx-4 my-2">
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <strong>Name:</strong> {{ client.first_name }}
                    {{client.last_name }}
                  </p>
                  <p>
                    <strong>Company: </strong
                    ><span class="btn-info rounded p-1 bi bi-buildings-fill"
                      >{{ client.company_name }}
                    </span>
                  </p>
                  <p>
                    <strong>Customer admitted: </strong>{{ client.date_created
                    }}
                  </p>
                  <p><strong>Last update: </strong>{{ client.date_created }}</p>
                  <p>
                    <strong>Sales associate: </strong>{{ client.sales_advisor }}
                  </p>
                </div>
                <div class="col-md-6">
                  <p><strong>Address:</strong> {{ client.address }}</p>
                  <p><strong>City:</strong> {{ client.city }}</p>
                  <p><strong>State:</strong> {{ client.state }}</p>
                  <p><strong>Country:</strong> {{ client.country }}</p>
                  <p><strong>Zip Code: </strong>{{ client.zip_code }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Proyectos -->
        <div class="col-md-12">
          <div class="container border m-0 px-0 rounded-4 overflow-hidden mb-4 shadow-sm">
            <div
              class="card-header d-flex justify-content-between  p-3 border-bottom bg-gray"
            >
              <h1 class="card-header fs-4 rounded-4">Projects</h1>
              <button class="btn bg-primary">
                <i class="bi bi-plus-circle text-light fs-6"></i>
              </button>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Start date</th>
                    <th>End date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for project in projects %}
                  <tr>
                    <td>{{ project.project_name }}</td>
                    <td>{{ project.status }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4">
                      No se encontraron proyectos para este cliente.
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Facturación -->
        <div class="col-md-12">
          <div class="container border m-0 px-0 rounded-4 overflow-hidden mb-4 shadow-sm">
            <div
              class="card-header d-flex justify-content-between  p-3 border-bottom bg-gray"
            >
              <h1 class="card-header fs-4 rounded-4">Invoices</h1>
              <button class="btn bg-primary">
                <i class="bi bi-plus-circle text-light fs-6"></i>
              </button>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Invoice ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for invoice in client.billing_history %}
                  <tr>
                    <td>{{ invoice.number }}</td>
                    <td>{{ invoice.date }}</td>
                    <td>{{ invoice.amount }}</td>
                    <td>{{ invoice.status }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4">
                      No se encontraron facturas para este cliente.
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
