{% extends "base.html" %} 
{% load static %}
{% block extra_head %}
{% load custom_filters %}
    <link rel="stylesheet" href="{% static 'css/stylesProducction.css' %}">
{% endblock %}

{% block content %}

    <div class="container mt-4">
        

        <div class="card mb-3 p-0 overflow-hidden">
            <div class="d-flex justify-content-between align-items-start p-0">
                <div class="w-100">
                    <h2 class="fw-bold bg-secondary m-0 p-2 text-light mb-4">{{ project.project_name }}
                        <span class="badge bg-light text-dark fs-6" style="height: 30px;">{{ project.status }}</span>
                    </h2>
                    <div>
                        <p class="text-dark px-4 fw-bold">Progress</p>
                    </div>
                    <div class="progress m-4 border border-2 border-success" style="height: 30px;">
                        <div class="progress-bar bg-success fw-bold fs-4" role="progressbar" style="width: {{ progress }}%;" aria-valuenow=" {{ progress }}" aria-valuemin="0" aria-valuemax="100">
                            {{ progress }}% success
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card col-4 col-md-2 mx-4 mb-4">
                    <p class="fw-semibold mb-0"> Etimated budget</p>
                    <p class="text-end">{{ project.get_approved_proposal.total_proposal | currency_usd }}</p>
                </div>
                <div class="card col-4 col-md-2 mx-4 mb-4">
                    <p class="fw-semibold mb-0">Budget Spent</p>
                    <p class="text-end">{{ project.get_approved_proposal.billed_proposal | currency_usd }}</p>
                </div>
                <div class="card col-4 col-md-2 mx-4 mb-4">
                    <p class="fw-semibold mb-0">Dates</p>
                    {%if project.start_date and project.end_date %}
                        <a class="text-end  cursor-pointer"  data-bs-toggle="modal" data-bs-target="#dateModal">{{project.start_date}} - {{project.end_date}} </a>
                    {% else %}
                        <p class="text-end">{{ today|date:'Y-m-d' }}                             
                            <a class="btn btn-sm rounded-2 p-1" role="button" data-bs-toggle="tooltip" 
                                data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" 
                                data-bs-title="You cannot create a schedule without estimated dates, please add project dates." >
                                <i class="bi bi-info-circle text-danger" style="font-size: 15px;"></i>
                            </a>
                            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#dateModal">
                                Set Dates
                            </button>
                        </p>
                    {% endif %}
                </div>
                <div class="card col-4 col-md-2 mx-4 mb-4">
                    <p class="fw-semibold mb-0">Manager</p>
                    <p class="text-end">@{{project.project_manager}}</p>
                </div>
            </div>
        </div>
        <!-- Modal para ingresar fechas -->
        <div class="modal fade" id="dateModal" tabindex="1" aria-labelledby="dateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <input type="hidden" id="csrf-token" data-csrf="{{ csrf_token }}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dateModalLabel">Set Project Dates</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="dateForm">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="startDate" required>
                            </div>
                            <div class="mb-3">
                                <label for="endDate" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="endDate" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveDatesBtn">Save Dates</button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center">Project Timeline        
            <button onclick="hasGanttChanged()" class='btn p-2 rounded-5 bg-white border border-2 border-primary' id='saveGantButton'><i class="bi bi-floppy-fill fs-4 text-primary"id='logoSave'></i>  
            <span id="spinner" class="spinner-border spinner-white spinner-border-sm d-none" role="status" aria-hidden="true""></span>
            </button>
        </h2>
        {%if project.start_date == None or project.end_date == None %}
            <div class='text-danger'> ⛔ You can't create a schedule without estimated dates </div>
        {% else %} 
            <div class="card mb-3 p-0 overflow-hidden" id="gantt_here" style="width:100%; height:400px;"></div>
        {% endif %}   
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="bi bi-folder me-2"></i> Project details
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% include 'viewItemsbyProject.html' %}
                </div>
            </div>
            </div>
        
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <i class="bi bi-check2-circle me-2"></i> Task and phases
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    
                </div>
            </div>
            </div>
        
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-file-earmark-text me-2"></i> Documentation
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                Documentación relacionada con el proyecto, incluyendo manuales, especificaciones y pautas técnicas.
                </div>
            </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <i class="bi bi-file-earmark-text me-2"></i> Purchases, expenses and payments
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                    Documentación relacionada con el proyecto, incluyendo manuales, especificaciones y pautas técnicas.
                    </div>
                </div>
                </div>
        </div>

    </div>


    </div>

    <!-- Carga de DHTMLX Gantt -->
    <link rel="stylesheet" href="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css">
    <script src="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <script> 
        document.addEventListener('DOMContentLoaded', function () {
        
            let ganttData = JSON.parse('{{ ganttData|safe }}');
            let previousGanttData = null;
        
            function getGanttData() {
                return gantt.serialize();  // Obtén los datos del Gantt
            }
        
            function hasGanttChanged() {
                const currentGanttData = getGanttData();
                return JSON.stringify(currentGanttData) !== JSON.stringify(previousGanttData);
            }
        
            // Función para guardar los datos del Gantt en el servidor
            function saveGanttDataToServer() {
                const currentGanttData = getGanttData();
                const csrfToken = document.getElementById('csrf-token').dataset.csrf;
                const saveButton = document.getElementById('saveGantButton');
                const iconSaveButton = document.getElementById('logoSave');
                const spinner = document.getElementById('spinner');
                saveButton.disabled = true;
                spinner.classList.remove('d-none');
                iconSaveButton.classList.add('d-none');
    
                fetch('/production/{{project.id}}/save_gantt_data/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({
                        gantt_data: currentGanttData,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Datos del Gantt guardados exitosamente', data);
                    saveButton.disabled = false;
                    spinner.classList.add('d-none');
                    iconSaveButton.classList.remove('d-none');
                })
                .catch(error => {
                    console.error('Error al guardar los datos del Gantt:', error);
                    saveButton.disabled = false;
                    spinner.classList.add('d-none');
                    iconSaveButton.classList.remove('d-none');
                });

            }
        
            // Función que parsea fechas personalizadas
            function parseCustomDate(dateStr) {
                const months = {
                    "Jan.": 0,
                    "Feb.": 1,
                    "Mar.": 2,
                    "Apr.": 3,
                    "May.": 4,
                    "Jun.": 5,
                    "Jul.": 6,
                    "Aug.": 7,
                    "Sep.": 8,
                    "Oct.": 9,
                    "Nov.": 10,
                    "Dec.": 11
                };
        
                const parts = dateStr.split(' ');
                const month = months[parts[0]];
                const day = parseInt(parts[1], 10);
                const year = parseInt(parts[2], 10);
        
                return new Date(year, month, day);
            }
        
            // Función que valida las fechas de inicio y fin
            document.getElementById("saveDatesBtn").addEventListener("click", function(event) {
                var startDate = document.getElementById("startDate").value;
                var endDate = document.getElementById("endDate").value;
                const csrfToken = document.getElementById('csrf-token').dataset.csrf;
        
                if (startDate && endDate) {
                    if (new Date(startDate) > new Date(endDate)) {
                        alert("The start date must be before the end date.");
                        event.preventDefault();
                    } else {
                        var modal = bootstrap.Modal.getInstance(document.getElementById('dateModal'));
                        modal.hide();
        
                        fetch(`/production/{{project.id}}/set_date_project/${startDate}/${endDate}/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                            },
                        })
                        .then(() => {
                            window.location.reload();
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                    }
                } else {
                    alert("Please fill in both start and end dates.");
                }
            });
        
            // Función que guarda el Gantt cada 30 segundos si hay cambios
            setInterval(function() {
                if (hasGanttChanged() && !document.getElementById('saveGantButton').disabled) {
                    console.log("El Gantt ha cambiado, guardando los datos...");
                    previousGanttData = getGanttData();
                    saveGanttDataToServer()
                } else {
                    console.log('no hay cambios');
                }
            }, 3000);
        
            // Inicialización de Gantt
            gantt.plugins({
                quick_info: true,
                auto_scheduling: true,
                marker: true
            });
        
            gantt.init("gantt_here");
        
            // Función para personalizar el texto de las tareas en Gantt
            gantt.templates.task_text = function (start, end, task) {
                return "<span>" + task.text + "</span> " + 
                       "<button onclick='addEvidence(" + task.id + ")' class='evidence-btn'>" +
                       "<i class='bi bi-paperclip'></i></button>";
            };
        
            // Función para agregar evidencia
            function addEvidence(taskId) {
                alert("Añadir evidencia para la tarea con ID: " + taskId);
            }
        
            // Definir fechas de inicio y fin del proyecto
            const startDateStr = "{{ project.start_date }}";
            const startDate = startDateStr && startDateStr !== "None" 
                ? parseCustomDate(startDateStr) 
                : new Date(); 
        
            const endDateStr = "{{ project.end_date }}"; 
            const endDate = endDateStr && endDateStr !== "None" 
                ? parseCustomDate(endDateStr) 
                : null;
        
            gantt.config.min_date = startDate;
            const maxDate = endDate ? endDate : new Date(startDate.getTime() + 120 * 24 * 60 * 60 * 1000);
            gantt.config.max_date = maxDate;
        
            // Configuración de visualización del Gantt
            gantt.config.scale_unit = "day"; 
            gantt.config.date_scale = "%d"; 
            gantt.config.subscales = [
                { unit: "month", step: 1, date: "%M" } 
            ];
        
            var dateToStr = gantt.date.date_to_str(gantt.config.task_date);
            var today = new Date(); 
            gantt.addMarker({
                start_date: today,
                css: "today",
                text: "Today",
                title: "Today: " + dateToStr(today)
            });
        
            var start = startDate;
            gantt.addMarker({
                start_date: start,
                css: "status_line",
                text: "Start project",
                title: "Start project: " + dateToStr(start)
            });
        
            if (ganttData && ganttData.length === 0) {
                gantt.parse({
                    data: [
                        {
                            id: 1,
                            text: "Planning, budget and negotiation", 
                            start_date: startDate, 
                            end_date: new Date(startDate.getTime() + 6 * 24 * 60 * 60 * 1000), 
                            progress: 1,
                        },
        
                        {
                            id: 2,
                            text: "Project delivery",
                            start_date: new Date(maxDate.getTime() - 2 * 24 * 60 * 60 * 1000), 
                            end_date: maxDate, 
                            progress: 0,
                        }
                    ]
                });
            } else {
                gantt.parse({ data: ganttData });
            }
        
            gantt.attachEvent("onLinkClick", function (id) {
                var link = this.getLink(id),
                    src = this.getTask(link.source),
                    trg = this.getTask(link.target),
                    types = this.config.links;
        
                var first = "", second = "";
                switch (link.type) {
                    case types.finish_to_start:
                        first = "finish";
                        second = "start";
                        break;
                    case types.start_to_start:
                        first = "start";
                        second = "start";
                        break;
                    case types.finish_to_finish:
                        first = "finish";
                        second = "finish";
                        break;
                }
        
                gantt.message("Must " + first + " <b>" + src.text + "</b> to " + second + " <b>" + trg.text + "</b>");
            });
        
            gantt.templates.task_class = function (start, end, task) {
                if (task.progress === 1) {
                    return "task-completed";
                } else if (task.progress === 0) {
                    return "task-not-started";
                }
                return "task-in-progress";
            };
        
            // Función para abrir el modal de evidencia
            function openEvidenceModal() {
                document.getElementById("evidenceModal").style.display = "block";
            }
        
            // Función para cerrar el modal de evidencia
            function closeEvidenceModal() {
                document.getElementById("evidenceModal").style.display = "none";
            }
        
            // Cerrar el modal al hacer clic fuera de él
            window.onclick = function(event) {
                var modal = document.getElementById("evidenceModal");
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        });
        
        

    </script>

{% endblock %}
