{% load static %}
{% load custom_filters %}
<div class="modal fade" id="UpdateCostSpent" tabindex="-1" aria-labelledby="UpdateCostSpent" aria-hidden="true">
    <div class="modal-dialog p-1 d-flex justify-content-center">
      <div class="modal-content p-1">
        <div class="modal-header">
          <button type="button" class="btn-close btn-sm bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" id="confirmDeleteBtn"  onclick="submitForm()">Save</button>
        </div>
      </div>
    </div>
</div>
<div class="d-flex flex-row">
    <div class="card my-4 overflow m-4  w-50">
    <h2 class="card-header fs-6 text-center py-1 bg-warning">Cost per items (BUDGETED)</h2>
        <table class="table table-bordered mx-auto">
            <thead>
                <tr class="table-secondary">
                    <th class="p-0 border text-center  px-2" style="width:70%">Items</th>
                    <th class="p-0 border text-center  px-2" style="width:30%"> Cost</th>
                </tr>
            </thead>
            <tbody class="word-wrap word-break">
            {% for item in budget.dataPreview %}
                {% if item|length == 2 %}
                <tr>
                    {% for data in item %}
                        <td   class='text-end'><strong>{{data}}</strong></td>
                    {% endfor %}
                </tr>
                {% else %}
                <tr class="table-secondary p-4">
                    {% for data in item %}
                        <td colspan="2" class="p-0 border px-4">{{data}}</td>
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card my-4 overflow m-4 w-50">
        <h2 class="card-header fs-6 text-center py-1 bg-success text-white">Cost per items (REAL)</h2>
            <table class="table table-bordered mx-auto">
                <thead>
                    <tr class="table-secondary">
                        <th class="p-0 border text-center  px-2" style="width:50%">Items</th>
                        <th class="p-0 border text-center  px-2" style="width:25%"> Cost Estimated</th>
                        <th class="p-0 border text-center  px-2" style="width:25%"> Cost Spent</th>
                    </tr>
                </thead> 
                <tbody class="word-wrap word-break" id="dataTable">
                {% for item in budget.dataPreview %}
                    {% if item|length == 2 %}
                    <tr>
                        {% for data in item %}
                            <td class='text-end'><strong>{{data}}</strong></td>
                        {% endfor %}
                        <td class="text-end"><strong>{{ realCostItems|get_item_value:item.0 | currency_usd }}</strong>
                            <button class="bg-primary text-white ms-2 incrementButton" onclick=showUpdateCostModal('{{item.0}}','{{item.1}}')>+</button>
                        </td>
                        {% endif %}
                    </tr>
                    {% for subItem in realCostItems|get_Subitem:item.0 %}
                    <tr class='table-secondary p-4'>
                        <td colspan='2' class='p-0 border px-4'>
                                {% if subItem.2 != 0 %}
                                <i class="bi bi-caret-right text-light bg-none rounded-2 p-0 m-0 drownIcon collapsed" 
                                    style="font-size:0.8rem"
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#collapse-{{ forloop.counter }}" 
                                    aria-expanded="false" 
                                    aria-controls="collapse-{{ forloop.counter }}"
                                    id="drownIcon icon-{{ forloop.counter }}"></i>
                                {% endif %}
                                {{subItem.0}}
                            
                        </td>
                        <td colspan='1' class='p-0 border px-4'>
                            {{subItem.2 | currency_usd}}
                        </td>
                    </tr>
                    <tr class="collapse bg-light" id="collapse-{{ forloop.counter }}">
                        <td colspan="3" class='p-0'>
                            <table class="table table-sm table-borderless">
                                {% for description in subItem.1 %}
                                <tr class='p-0 border px-4'>
                                    <td class="ps-4" style="font-size:0.8rem">
                                        * {{ description.0 }}
                                    </td>
                                    <td class="text-end" style="font-size:0.8rem">
                                        {{ description.1 | currency_usd }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
<script>
    function showUpdateCostModal(name, value) {
        const updateCostModal = new bootstrap.Modal(document.getElementById('UpdateCostSpent'));
        const modalBody = document.querySelector('#UpdateCostSpent .modal-body');
    
        // Manejar realCostItems
        let realValue = {};
        try {
            const rawRealCostItems = "{{ realCostItems|escapejs }}";
            realValue = rawRealCostItems ? JSON.parse(rawRealCostItems) : {};
        } catch (error) {
            console.error("Error parsing realCostItems:", error);
        }
        const totalValue = realValue[name]?.total !== undefined ? realValue[name].total : 0;
    
        // Manejar costData
        let costConcepts = {};
        try {
            const rawCostData = "{{ costData|escapejs }}";
            costConcepts = rawCostData ? JSON.parse(rawCostData) : {};
        } catch (error) {
            console.error("Error parsing costData:", error);
        }
    
        // Generar opciones si costConcepts[name] existe
        const optionsHTML = costConcepts[name]?.content
            ? costConcepts[name].content.map(concept => `<option value="${concept}">${concept}</option>`).join('')
            : '<option value="" disabled>No concepts available</option>';
    
        // Contenido del modal
        modalBody.innerHTML = `
            <form id="costForm">
                <div class="d-flex justify-content-between align-items-center p-2 border border-2" style="background-color: #f1f1f1; border-radius: 8px;">
                    <label for="itemName" class="form-label d-flex align-items-center justify-content-center" id="NameCost">
                        <strong>${name}</strong>
                    </label>
                    <label for="costEstimate" class="form-label border px-2 bg-secondary text-white w-30 text-center m-0">
                        ${value}
                        <div class="m-0 p-0 fs-7" style="font-size: 0.75rem;">Costo Estimated</div>
                    </label>
                    <label for="costSpend" class="form-label border px-2 bg-info text-white w-30 text-center m-0">
                        $${totalValue}
                        <div class="m-0 p-0 fs-7" style="font-size: 0.75rem;">Costo Spend</div>
                    </label>
                </div>
                <div class="d-flex flex-column mt-3 justify-content-center align-items-center p-2 border border-2" style="background-color: #f1f1f1; border-radius: 8px;">
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <label for="costValue" class="form-label mx-1 my-0 w-50"><strong> Cost to Invoice:</strong></label>
                        <input type="number" class="form-control p-0 px-1 m-0" id="costValue" placeholder="Enter cost value">
                    </div>
                    <hr style="border: 2px solid rgb(124, 124, 124);" class="w-100">
                    <div class="d-flex flex-column align-items-center justify-content-center w-100">
                        <label for="descriptionValue" class="form-label mx-1 my-0 w-50"><strong> Description:</strong></label>
                        <textarea id="descriptionValue" name="story" rows="3" cols="10"></textarea>
                    </div>
                    <label for="concept" class="form-label">Choose or Add a Concept</label>
                    <select class="form-select" id="concept" aria-label="Select a concept">
                        <option selected>Choose a concept</option>
                        ${optionsHTML}
                    </select>
                    <input type="text" class="form-control d-none m-0" id="newConceptInput" placeholder="Write new concept" disabled>
                    <div class="form-check d-flex flex-row w-100 align-items-center">
                        <input class="form-check-input" style="width: 20px; height: 20px;" type="checkbox" id="addNewConcept" onchange="enableNewConcept()">
                        <label class="form-check-label px-2 m-0" for="addNewConcept">
                            Add a new concept
                        </label>
                    </div>
                </div>
            </form>
        `;
        updateCostModal.show();
    }
    
    function enableNewConcept() {
        const addNewConceptCheckbox = document.getElementById('addNewConcept');
        const newConceptInput = document.getElementById('newConceptInput');
        const selectElement = document.getElementById('concept');
            if (addNewConceptCheckbox.checked) {
                newConceptInput.disabled = false; // Habilitar el campo de texto
                selectElement.disabled = true;
                newConceptInput.classList.remove('d-none');
                selectElement.classList.add('d-none');
            } else {
                newConceptInput.disabled = true; // Deshabilitar el campo de texto
                selectElement.disabled = false;  // Habilitar el select
                newConceptInput.classList.add('d-none');
                selectElement.classList.remove('d-none');
            }
    }



    function submitForm() {
        const costValue = document.getElementById('costValue').value;
        const concept = document.getElementById('concept').value;
        const costDescription = document.getElementById('descriptionValue').value;
        const newConcept = document.getElementById('newConceptInput').value;
        const addNewConcept = document.getElementById('addNewConcept').checked; 
        const Item = document.getElementById('NameCost');
        const ItemLabelText = (Item.textContent || Item.innerText).replace(/\s+/g, ' ').trim();

        const formData = {
            costValue: costValue,
            concept: addNewConcept ? newConcept : concept, 
            item: ItemLabelText,
            description:costDescription,
        };
        const csrfToken = document.getElementById('csrf-token').dataset.csrf;
        fetch(`/production/{{project.id}}/save_real_cost_by_items/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(formData),
        })
        .then(() => {
            alert('Guardado')
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }


</script>

