{% load custom_filters %}
{% if projects %}
{% for project in projects %}
<tr>
  <td class="position-relative text-center"> <a href="/projects/{{ project.id }}" class="mt-2" target="_blank">{{ project.id }}</a></td>
  <td class="text-center">{{ project.created_at|date:'y-m-d' }}</td>
  <td class="text-center"><a href="/projects/{{ project.id }}" target="_blank">{{ project.project_name }}</a></td>
  <td class="text-center">
    <span class="status-empty status_{{ project.status }} m-0">
      <strong>•</strong> {{ project.status }}
    </span>
  </td>           
  <td class="text-center">{{ project.sales_advisor }}</td>
  <td class="text-center">{{ project.estimated_cost|currency_usd  }}</td>
  <td class="text-center">{{ project.actual_cost|currency_usd }}</td>
  <td class="text-center"><button class="btn btn-primary btn-sm rounded-2 p-1 modal-open" id='button-show_project' onclick="openModal(event, project_id='{{ project.id }}',proposal_id='None', object='project')"><i class="bi bi-eye-fill"></i></button></td>
</tr>
{% endfor %}
{% else %}
<tr>
  <td class="text-center" colspan="8">No proposals found</td>
</tr>
{% endif %}
  
