{% load custom_filters %}
{% if proposals %}
{% for proposal in proposals %}
<tr>
  <td class="position-relative text-center"> <a href="/projects/{{ proposal.project.id }}/pdf_proposal/{{ proposal.id }}" class="mt-2" target="_blank">{{ proposal.date_created|date:'ymd' }}-{{proposal.project.id}} {% if proposal.is_overdue %}<span class="text-light position-absolute top-0 end-0 border border-danger rounded-pill px-2 bg-danger opacity-75" style="font-size: 0.8rem;">Overdue</span>{% endif %}</a></td>
  <td class="text-center">{{ proposal.creation_duration }} days</td>
  <td class="text-center">{{ proposal.proposal_duration }} days </td>
  <td class="text-center"><a href="/projects/{{ proposal.project.id }}" target="_blank">{{ proposal.project_name }}</a></td>
  <td class="text-center">
    <span class="status-empty status_{{ proposal.status }} m-0">
      <strong>•</strong> {{ proposal.status }}
    </span>
  </td>
  <td class="text-center">{{ proposal.sales_advisor }}</td>
  <td class="text-center">{{ proposal.total_proposal|currency_usd }}</td>
  <td class="text-center">{{ proposal.billing_progress|currency_usd }}</td>
</tr>
{% endfor %}
{% else %}
<tr>
  <td class="text-center" colspan="8">No proposals found</td>
</tr>
{% endif %}
  
