<div class="d-flex w-75 ">
    <div class="border border-2 rounded-2 overflow-hidden my-auto d-flex flex-row justify-content-between w-25">
        <input  class="align-middle border-0 px-2 m-0 w-100" type="input" id="itemInput" placeholder="CLF gate" />                                
        <span class="btn btn-sm btn-primary m-0 w-5 h-5 border-0 rounded-0 " onclick="addItem()">+</span> 
    </div>
    <div class="bg-light h-100 my-auto rounded-2 p-2 mx-2 border border-2 w-75  border border-2 border-dark">
        <h2 class="fs-6 m-0 fw-bold pb-2 border-bottom border-dark">Project Items
            <spam class="bg-secondary rounded-2 px-1 text-light " id="projects-count">
                0
            </spam>
        </h2>
        <div id="items_container" class="m-0 p-0 d-flex flex-wrap align-items-center gap-2">
        </div>
    </div>
</div>